<!DOCTYPE html>
<html>
  <head>
    <title>本登録を完了してください</title>
  </head>
  <body>
    <p>{{ inviation.last_name }} {{ inviation.first_name }}様</p>
    <p>
      このたびは、{{ service_name }}に仮登録いただき、ありがとうございます。
      本登録を完了するために、以下のリンクをクリックしてください。
    </p>
    <p><a href="{{ confirm_url }}">本登録を完了する</a></p>
    <p>
      ※本登録の有効期限: {{ expiry_date }}<br>
      ※本登録を完了するまではサービスをご利用いただけませんのでご注意ください。
    </p>
    <p>
      引き続き、{{ service_name }}をよろしくお願いいたします。<br>
      {{ service_name }}運営チーム
    </p>
  </body>
</html>
