<!DOCTYPE html>
<html>
  <head>
    <title>パスワードリセットのご案内</title>
  </head>
  <body>
    <p>{{ user.last_name }} {{ user.first_name }}様</p>
    <p>
      ご依頼いただきましたパスワードリセットの手続きが開始されました。以下のリンクをクリックして、新しいパスワードを設定してください。
    </p>
    <p><a href="{{ confirm_url }}">パスワードをリセットする</a></p>
    <p>
      ※パスワードリセットの有効期限: {{ expiry_date }}<br>
      ※有効期限内にリセット手続きを完了しない場合、再度リセット依頼を行ってください。
    </p>
    <p>
      引き続き、{{ service_name }}をよろしくお願いいたします。<br>
      {{ service_name }}運営チーム
    </p>
  </body>
</html>
